numpy
opencv-python-headless
imageio-ffmpeg
tkinterdnd2
winrt-runtime; sys_platform == "win32"
winrt-Windows.Foundation; sys_platform == "win32"
winrt-Windows.Foundation.Collections; sys_platform == "win32"
winrt-Windows.Globalization; sys_platform == "win32"
winrt-Windows.Graphics.Imaging; sys_platform == "win32"
winrt-Windows.Media.Ocr; sys_platform == "win32"
winrt-Windows.Storage.Streams; sys_platform == "win32"
